MYSQL_USER="root"
MYSQL_PASS=<your password>
MYSQL_DATA_DIR=<path to mysql dir>
BACKUPS_DIRECTORY=<path to mysql backup dir>
MAX_BACKUP_CHAINS=<number of chais>
PATH_TO_MYSQL_CONFIG=<path to my.cnf>
MOUNT_CMD=<mount command like sshfs ...>
MOUNT_NAME=<name of the mount to check in the mount | grep $MOUNT_NAME>
